* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

body {
    background-color: #F1F1F3;
    height: 100vh;
    width: 100%;
    padding: 0 130px;
}

.color_1 {
    color: #0E0E0E;
}

.text_center {
    text-align: center;
}

.btn_primary {
    color: #006A50;
    border: 2px solid #006A50;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.btn_active:hover {
    background-color: #006A50;
    color: #F1F1F3;

}

.btn:hover {
    color: #006A50;
    border: 2px solid #006A50;
    background-color: #F1F1F3;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.logo,
.color_1,
.news_title,
.donate_title,
.subscribe_title {
    font-size: 40px;
    font-weight: bold;
}

/* main section style */
.hero {
    background-color: #C6E4D6;
    border-radius: 10px;
}

.hero_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 30px;

}

.hero_description {
    padding: 50px 0;
}

.hero_subtitle {
    font-size: 24px;
    font-weight: 500;
    opacity: .6;

}

.hero_title {
    font-size: 55px;
    font-weight: bold;
    padding: 16px 20px 16px 0;

}

.hero_btn {
    background-color: #006A50;
    color: #F1F1F3;
}

/* future section styles */
.future {
    padding: 80px 0;
}

.future_title {
    font-size: 40px;
    font-weight: bold;
}

.future_content,
.card_description,
.news_description,
.news_content,
.donate_content,
.subscribe_content {
    margin: 32px 0;
    font-size: 16px;
    font-weight: 400;
    opacity: .6;
    line-height: 23px;

}

.future_cards {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.future_card1 {
    background-color: #a4bae0;
    border-radius: 10px;
    padding: 32px;
}

.future_card2 {
    background-color: #C6E4D6;
    border-radius: 10px;
    padding: 32px;
}

.future_card3 {
    background-color: #F7EBCF;
    border-radius: 10px;
    padding: 32px;
}

.card_title {
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0;
}

.card_btn {
    padding: 11px 20px;
    border-radius: 10px;
    color: #F1F1F3;
    border: none;
    font-size: 16px;
    font-weight: 700;

}

.btn1 {
    background-color: #5490F5;
}

.btn1:hover {
    background: #011230;
    color: #5490F5;
}

.btn2 {
    background-color: #09A15C;
}

.btn2:hover {
    background: #002213;
    color: #69c29a;
}

.btn3 {
    background-color: #FFC239;
}

.btn3:hover {
    background: #5d4102;
    color: #f9d47c;
}
.blog_quote{
    background-color: #ffffff;
    padding:24px;
    margin-top: 32px;
    border-radius: 10px;
    border: 1px solid #cac7ff;
}
.blog_detail{
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    padding: 24px 0;
}
.blog_content{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: .6;
    line-height: 23px;

}
.name{
    font-size: 18px;
    font-weight: 600;
    color: #0E0E0E;
    opacity: .8;
    margin: 12px 0;
}
.designation{
    font-size: 15px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: .6;
}
/* news section styles */

.news_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news_box {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 15px;
}

.news_img img {
    border-radius: 25px;
    margin: 48px 32px 48px 48px;
}

.news_details {
    margin: 48px 32px 48px 0;
}

.news_headline {
    font-size: 32px;
    font-weight: bold;
}

.channel {
    padding: 12px 0 0 0;
}

time {
    font-size: 15px;
    font-weight: 400;
    opacity: .6;

}

.news_column {
    margin-left: 48px;
}

/* donate section styles */
.donate_container {
    display: flex;
    justify-content: space-around;
    margin: 0 80px;
}

.card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    opacity: .8;
    border: 1px solid #d3d3d3;
}

.donate_card:hover {
    background-color: #6dd3a3;
}

.card_color {
    background-color: #C6E4D6;
}

.donate_title {
    margin-top: 80px;
}

.donate_content {
    padding: 0 70px;
}

.input_field input {
    width: 1020px;
    height: 55px;
    margin: 32px 0;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 0 20px;
    text-align: center;

}


.input_field::placeholder {
    text-align: center;
    color: #cac7ff;
}

/* subscribe section styles */
.subscribe {
    background-color: #C6E4D6;
    border-radius: 15px;
    padding: 80px 265px;
    margin: 80px 0;
}

.subscribe_field {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table_input{
    height: 55px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    padding-left: 20px;

}

::placeholder {
    color: #cac7ff;
    
}

.subscribe_btn {
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #006A50;
    color: #F1F1F3;
    cursor: pointer;
}

.subscribe_btn:hover {
    background: #5df0ae;
    color: #006A50;

}

.subscribe_end {
    font-size: 16px;
    font-weight: 400;
    opacity: .6;

}

hr {
    margin: 32px 0;
}

.social_icon {
    display: flex;
    justify-content: center;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 50px;
}